body.index{
    --bs-bg-opacity: .2;
}
a{
    text-decoration: none;
}

.container {
    --bs-bg-opacity: .5;
    padding: 10px;
    min-height: 100vh;
}

.container__title {

}

.container__descricao {

}

.container__opcoes {
    gap: 10px;
}

.opcoes__entrar {
    height: 200px;
}



.entrar__opcao {
    padding: 20px;
    --bs-border-opacity: 0.5;
}
