*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url("./src/img/fundo.jpg");
    background-size: cover;
    min-height: 100vh;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

p, h1, h2, h3, h4, h5, h6, a {
    color: rgb(77, 67, 67);
}

.container {
    --bs-bg-opacity: .5;
    min-height: 100vh;
}